/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {

  padding-top: 8.5rem;
  padding-bottom: 3rem;
  color: #6EB2F6;
  /*font-family: 'Crimson Text', serif; */
  font-family: 'Ubuntu', sans-serif;
    /* text-shadow: 0 .05rem .1rem rgba(251, 239, 253, .6); */
}

/* transparent nav  */
.navbar-inner {
    background:transparent;
}

nav a {
  padding-left: 1rem;
}

nav img{
  height: 1.5rem;
  width: auto;
  margin-right: 1.6rem;
  margin-top: .1rem;
  opacity: .55;
}

nav img:hover{
  /* testing hover animation
  border-radius: 20%;
  box-shadow: .2px .2px 2px 2px #747DE8;
  animation: glow 1.5s linear infinite alternate; */
  opacity: .9;
}


section h1{
  text-align: center;
  margin-bottom: -1.5%;
}

.bigFont{
  /* Replaces h1 to make it more responsive */
  font-size: 2.5rem;
}

.smFont{
  /* Replaces h3 to make it more responsive */
  font-size: 1.5rem;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 65%;

/*makes the height of the image 100% and then centers it inside the "mask"*/
  min-height:65%;
  top:50%;
/*  transform:translate(-25%, -45%); */
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/*Contact page*/


#pushDown {
	margin-top:3%;
	margin-left:0%;
}


/* Gallery Page */

.row {
	margin: 20px 0;
}

img {
  vertical-align: middle;
  border-style: none; // Remove the border on images inside links in IE 10-.
}
a {
  color: white;
  opacity: .65;
  -webkit-transition-property: opacity; /* Safari */
  -webkit-transition-duration: .3s; /* Safari */
  transition-property: opacity;
  transition-duration: .3s;
}

a:hover{
  color: white;
  opacity: 1;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

video{
  width:90.5%;
  height:auto;
  border: 5px solid navy;
  vertical-align: middle;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/* TYPING ANIMATION CSS ------------------- */

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  margin-left: 0;
  margin-top: 2em;
  width:5.8em;
  letter-spacing: 0em; /* Adjust as needed */
  animation:
    typing .6s steps(40, end),
    blink-caret .38s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 5.8em }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent}
  50% { border-color: white}
}


/* TEXT FADE IN EFFECT */


/* defines the animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeIn {
  margin-top: 2rem;
  opacity: 0;
  animation: fadeInUp 1s ease-in-out 0s forwards;
  animation-delay: .7s;
  /* then define the animation delay in each class */

  &.second {
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
  }
 }


/* SPACING */

.separate h1 {
    margin-bottom: 2rem;
}

hr{
  border-top: 0.05rem solid #9C9C9C;
  margin-top: 3px;
}



/* scroll bar */

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(214,214,214,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(214,214,214,.4); 
}
